body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
    font-family: 'Rubik Wet Paint', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.55em;
    margin: 0;
}

p {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    margin: 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.header {
    background: url('../images/home_background.jpg') no-repeat center top;
}

.header-content {
    margin-top: 80px;
    margin-left: 200px;
    display: flex;
}

header a {
    color: white;
}

.logo:hover {
    color: red;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    color: red;
}

.menu li {
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
}

.sign-up {
    display: flex;
}

.sign-up li {
    margin-right: 5px;
}

.sign-up li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.sign-up li a:hover {
    color: red;
}

.text {
    margin-top: 110px;
    margin-bottom: 221px;
}

.text-title {
    margin-left: 95px;
    margin-bottom: 30px;
}

.my-image {
    width: 400px;
    height: 450px;
    border-radius: 10%;
    margin-left: 50px;
    border: 5px solid red;
}

.copyright {
    margin-top: 5px;
    padding-bottom: 30px;
}