body {
    padding: 0;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 1400px;
    margin: auto;
}

.header {
    background: url('../images/back-2.jpg') no-repeat center top;;
}

header a {
    color: white;
}

.logo {

    margin-right: 100px;
}

.logo:hover {
    color: red;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li a:hover {
    color: red;
}

.menu li {
    margin-right: 40px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;

}
/*----------------------------------------------*/
.red:hover {
    color: red;
}

